body.dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
/* Dark mode background color for dark elements by refering the to each class */  
  .dark-mode .bg-dark {
    background-color: #333;
  }
  /* Same for the navigation link color */
  .dark-mode .nav-link {
    color: #ffffff;
  }